<%- include('../layout/header.ejs') %>

    <body>
        <span style="font-size:30px;cursor:pointer" class="openNav" onclick="openNav()">&#9776;</span>
        <div id="mySidenav" class="sidenav">
            <div class="d-flex align-items-center justify-content-end"><a href="javascript:void(0)" class="closebtn"
                    onclick="closeNav()"><i class="fa-solid fa-arrow-left"></i></i></a></div>
            <!-- &times; -->
            <div class="zeediv d-flex align-items-center justify-content-center">
                <h3 class="zeecart">Zee<span href="" id="zeecart">C</span>art</h3>
            </div>

            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="/dashboard?page=1">Dashboard</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="/products?page=1">Products</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="/catagory?page=1">Catagory</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="/brands?page=1">Brand</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="/offers?page=1">Offers</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="/admin?page=1">Admins</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="/customers?page=1">Customers</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="/orders?page=1">Orders</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="/coupon?page=1">Coupen</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="/banners?page=1">Banner</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="/log-out">log out</a></span></div>


        </div>

        <!DOCTYPE html>
        <html>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

        <body>
            d
            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
            <canvas id="myChart1" style="width:100%;max-width:600px"></canvas>

            <script>
                const xValues = [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000];

                new Chart("myChart", {
                    type: "line",
                    data: {
                        labels: xValues,
                        datasets: [{
                            data: [860, 1140, 1060, 1060, 1070, 1110, 1330, 2210, 7830, 2478],
                            borderColor: "red",
                            fill: false
                        }, {
                            data: [1600, 1700, 1700, 1900, 2000, 2700, 4000, 5000, 6000, 7000],
                            borderColor: "green",
                            fill: false
                        }, {
                            data: [300, 700, 2000, 5000, 6000, 4000, 2000, 1000, 200, 100],
                            borderColor: "blue",
                            fill: false
                        }]
                    },
                    options: {
                        legend: { display: false }
                    }
                });
                const zValues = ["Italy", "France", "Spain", "USA", "Argentina"];
                const yValues = [55, 49, 44, 24, 15];
                const barColors = ["red", "green", "blue", "orange", "brown"];

                new Chart("myChart1", {
                    type: "bar",
                    data: {
                        labels: xValues,
                        datasets: [{
                            backgroundColor: barColors,
                            data: yValues
                        }]
                    },
                    options: {
                        legend: { display: false },
                        title: {
                            display: true,
                            text: "Sales in this Year"
                        }
                    }
                });
            </script>
            <script>
                function openNav() {
                    document.getElementById("mySidenav").style.width = "200px";
                }

                function closeNav() {
                    document.getElementById("mySidenav").style.width = "0";
                }


            </script>

            <%- include('../layout/footer.ejs') %>