<%- include('layout/header')%>

<form action="/userlogin" method="post">
    <div class="container" >       
        <div class="row d-flex justify-content-center align-items-center" id="sqrdiv1">            
            <div class="col-10 col-md-6 col-lg-4 p-5" id="sqrdiv2">   

                <h6 class="mt-2 heads">Email</h6>
                <input class="headz" type="email" name="email" placeholder="enter email"><br>     

                <h6 class="mt-2 heads">Enter Password</h6>
                <div class="input-box">
                    
                    <input class="eye" type="password" name="password" placeholder="enter password" id="password">
                    <img src="/eye-close.png" alt="" id="eyeicon">
                    <br>
                </div>
                <div class="d-flex justify-content-center mt-5">
                    <button class="btn" type="submit" id="btnuslog"><h5 id="uslogbtn">Log In</h5></button>
                </div>     
                <div class="d-flex justify-content-center mt-3">
                    <a id="havacc" href="/signpage">Create new account</a> 
                </div>               
            </div>
        </div>
    </div>
</form>

<script>

    let password = document.getElementById('password');
    let eyeicon = document.getElementById('eyeicon');
    eyeicon.onclick = function(){
        if(password.type == 'password'){
            password.type = 'text';
            eyeicon.src = 'eye-open.png'
        }else{
            password.type = 'password';
            eyeicon.src = 'eye-close.png'
        }
    }

</script>

<%- include('layout/footer')%>