<%-include('../layout/user/header.ejs')-%>
    <%- include('../layout/header.ejs') -%>

        <body class="bg-secondary">
            <form action="/addNewAddress" method="post">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-12 col-md-6 my-5"
                        style="border: 5px solid #3c3c3c;border-radius: 15px;background-color: rgb(224, 224, 255);">
                        <br>
                        <div class="d-flex justify-content-center align-items-center bg-secondary"
                            style=" border-radius: 10px 10px 0 0 ;">
                            <h1 style="color: rgb(255, 255, 255);">Add address</h1>
                        </div>
                        <br>
                        <input type="hidden" value="<%=userId.id%>" name="userId">
                        <div class="d-flex justify-content-center">
                            <span class="alert-danger" id="error"></span>
                        </div>
                        <br>
                        <div class="d-flex justify-content-center">
                            <input type="text" name="name" placeholder="Name" id="name"
                                style="width: 48%;height: 35px;border-radius: 5px;padding-left: 5px;margin-right: 4%;"
                                onchange="validateName()" required></input>
                            <input type="number" name="mobile" placeholder="Mobile" onchange="validateMobile()"
                                id="mobile" style="width: 48%;height: 35px;border-radius: 5px;padding-left: 5px;"
                                required></input>
                        </div>
                        <br>
                        <div class="d-flex justify-content-center">
                            <input type="text" name="email" placeholder="Email" id="email"
                                style="width: 48%;height: 35px;border-radius: 5px;padding-left: 5px;margin-right: 4%;"
                                onchange="validateEmail()" required></input>
                            <input type="number" name="pincode" placeholder="Pincode" id="pincode"
                                onchange="validatePincode()" 
                                style="width: 48%;height: 35px;border-radius: 5px;padding-left: 5px;" required></input>
                        </div>
                        <br>
                        <div class="d-flex justify-content-center align-items-center">
                            <input name="houseName" placeholder="House Name" onchange="validateAddress()" id="address"
                                style="width: 100%;height: 100px;border-radius: 5px;padding-left: 5px;"
                                required></input>
                        </div>
                        <br>
                        <div class="d-flex justify-content-center">
                            <input type="text" name="locality" placeholder="Locality" onchange="validateLocality()" id="locality"
                                style="width: 48%;height: 35px;border-radius: 5px;padding-left: 5px;margin-right: 4%;"
                                required></input>
                            <input type="text" name="city" placeholder="City" onchange="validateCity()" id="city"
                                style="width: 48%;height: 35px;border-radius: 5px;padding-left: 5px;" required></input>
                        </div>
                        <br>
                        <div class="d-flex justify-content-center">
                            <input type="text" name="district" placeholder="District" onchange="validateDistrict()" id="district"
                                style="width: 48%;height: 35px;border-radius: 5px;padding-left: 5px;margin-right: 4%;"
                                required></input>
                            <input type="text" name="state" placeholder="State" onchange="validateState()" id="state"
                                style="width: 48%;height: 35px;border-radius: 5px;padding-left: 5px;" required></input>
                        </div>
                        <br>
                        <div class="d-flex justify-content-center">
                            <!-- <button type="submit" class="btn btn-secondary" style="color: white;"
                                onclick="onSubmit(event)">Add
                                Address</button> -->
                            <button class="btn btn-primary" type="submit" id="addBtn">Add Address</button>
                        </div>
                        <br>
                    </div>
                </div>
            </form>
            <script>
                var error = document.getElementById('error');
                var addBtn = document.getElementById('addBtn');
                function validateName() {
                    var usernamePattern = /^[a-zA-Z0-9_.\s]{3,16}$/
                    var name = document.getElementById('name').value.trim();
                    if (usernamePattern.test(name)) {
                        error.innerHTML = "";
                        addBtn.disabled = false; // Enable the button
                    } else {
                        error.innerHTML = "Username must be 3-20 characters";
                        addBtn.disabled = true; // Disable the button
                    }
                }
                function validateMobile() {
                    var mobile = document.getElementById('mobile').value.trim();
                    var mobileRegex = /^\d{10}$/;
                    if (mobileRegex.test(mobile)) {
                        error.innerHTML = "";
                        addBtn.disabled = false;
                    } else {
                        error.innerHTML = "Please enter a valid 10 digit mobile number";
                        addBtn.disabled = true;
                    }
                }
                function validateEmail() {
                    var email = document.getElementById('email').value.trim();
                    var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
                    if(emailPattern.test(email)) {
                        error.innerHTML = "";
                        addBtn.disabled = false;
                    }else{
                        error.innerHTML = "Please enter a valid email";
                        addBtn.disabled = true;
                    }
                }
                function validatePincode() {
                    var pincode = document.getElementById('pincode').value.trim();
                    var pincodeRegex = /^\d{6}$/;
                    if(pincodeRegex.test(pincode)) {
                        error.innerHTML = "";
                        addBtn.disabled = false;
                    }else{
                        error.innerHTML = "Please enter a valid 6 digit pincode";
                        addBtn.disabled = true;
                    }
                }
                function validateAddress(){
                    var address = document.getElementById('address').value.trim();
                    var addressPattern = /^[a-zA-Z0-9_.\s]{3,40}$/
                    if(addressPattern.test(address)) {
                        error.innerHTML = "";
                        addBtn.disabled = false;
                    }else{
                        error.innerHTML = "Please enter a valid house name";
                        addBtn.disabled = true;
                    }
                }
                function validateLocality(){
                    var locality = document.getElementById('locality').value.trim();
                    var localityPattern = /^[a-zA-Z0-9_.\s]{3,40}$/
                    if(localityPattern.test(locality)) {
                        error.innerHTML = "";
                        addBtn.disabled = false;
                    }else{
                        error.innerHTML = "Please enter a valid locality name";
                        addBtn.disabled = true;
                    }
                }
                function validateCity(){
                    var city = document.getElementById('city').value.trim();
                    var cityPattern = /^[a-zA-Z0-9_.\s]{3,40}$/
                    if(cityPattern.test(city)) {
                        error.innerHTML = "";
                        addBtn.disabled = false;
                    }else{
                        error.innerHTML = "Please enter a valid city name";
                        addBtn.disabled = true;
                    }
                }
                function validateDistrict(){
                    var district = document.getElementById('district').value.trim();
                    var districtPattern = /^[a-zA-Z0-9_.\s]{3,40}$/
                    if(districtPattern.test(district)) {
                        error.innerHTML = "";
                        addBtn.disabled = false;
                    }else{
                        error.innerHTML = "Please enter a valid district name";
                        addBtn.disabled = true;
                    }
                }
                function validateState(){
                    var state = document.getElementById('state').value.trim();
                    var statePattern = /^[a-zA-Z0-9_.\s]{3,40}$/
                    if(statePattern.test(state)) {
                        error.innerHTML = "";
                        addBtn.disabled = false;
                    }else{
                        error.innerHTML = "Please enter a valid state name";
                        addBtn.disabled = true;
                    }
                }
            </script>


            <%- include('../layout/user/footer.ejs') -%>