<%-include('../layout/user/header.ejs')-%>
   

    <div class="row wishmain">
        <div class="wishtwo">
            <div class="wishthree"></div>
            <div class="wishfour">
                <form action="/profile">
                    <button class="wishbutt0">Profile</button>
                </form>
                <form action="/orders">
                    <button class="wishbutt">My Orders</button>
                </form>
                <form action="/wishlist">
                    <button class="wishbutt">My Wishlist</button>
                </form>
                <form action="/cart">
                    <button class="wishbutt" style="background-color:#E0E9FF;">My Cart</button>
                </form>
                <form action="/logout">
                    <button class="wishbutt" id="logbutt">Log Out</button>
                </form>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center" style="width: 1299px; height: 100vh;">
            <div style="width: 1199px; height: 90vh;border: 1px solid black;">

            </div>
        </div>
    </div>
    
    <%- include('../layout/user/footer.ejs') -%>