<%- include('../layout/header.ejs') %>

<form action="/verifyotp" method="post">
    <div class="main">
        <div class="sub">
            <h3 class="heading">FORGOT PASSWORD</h3>
            <P>Enter OTP</P>
            <input class="input_1" id="input_1" type="text" name="otp" id="otp"><br>
            <input type="hidden" name="email" value="<%=email%>">
            <button type="submit" class="btn">Verify OTP</button>
        </div>
    </div>
</form>

<%- include('../layout/footer.ejs') %>