<%- include('../layout/header.ejs') %>

<form action="/verifyemail" method="post">
    <div class="main">
        <div class="sub">
            <h3 class="heading">FORGOT PASSWORD</h3>
            <P>Enter your email</P>
            <input class="input_1" id="input_1" type="email" name="email" id="email"><br>
            <button type="submit" class="btn">Verify Email</button>
        </div>
    </div>
</form>

<%- include('../layout/footer.ejs') %>