<%-include('../layout/user/partials/header.ejs')-%>

    <div class="container">
        <div class="wrapper">
            <div class="title"><span>Login Form</span></div>
            <form action="/home" method="post">
                <div class=" loginDiv d-flex justify-content-center">
                    <span><%=err%></span>
                </div>
                <div class="row">
                    <i class="fa-solid fa-envelope" style="color: #ffffff;"></i>
                    <input type="text" placeholder="email" name="email" />
                </div>
                <div class="row">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password" name="password" />
                </div>
                <div class="pass"><a href="/forgotpass">Forgot password?</a></div>
                <div class="row button">
                    <input type="submit" value="Login">
                </div>
                <div class="social-media">
                    <a href="/google" class="social-icon">
                    </a>
                </div>
                <div class="signup-link">Not a member? <a href="/send-otp">Signup now</a></div>
            </form>
        </div>
    </div>

    <%-include('../layout/user/partials/footer.ejs')-%>