<%- include('../layout/header.ejs') %>

    <div class="row" id="rowz">
        <div class="colso">
            <form action="/setpassword" method="post">
                <div class="headinDiv1">
                    <h2 class="forgotHead">SET PASSWORD</h2>
                </div>
                <div class="headinDiv2">
                    <p>Enter your new password</p>
                </div>
                <div class="msg_span">
                    <span class="msg" id="message3"></span>
                </div>
                <div class="headinDiv3">
                    <input type="text" class="inputOne" name="newpassword" id="password" onchange="validatePassword();">
                </div>
                <div class="msg_span">
                    <span class="msg" id="message"></span>
                </div>
                <div class="headinDiv3">
                    <input type="text" class="inputOne" name="confirmpass1" id="confirmpass1"
                        onkeyup="checkPasswordMatch()">
                </div>
                <div class="headinDiv3">
                    <input type="submit" class="checkBtn">
                </div>
            </form>
        </div>
    </div>

    <%-include('../layout/user/partials/footer.ejs')-%>