<%-include('../layout/user/partials/header.ejs')-%>

    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
        <style media="screen">
            *,
            *:before,
            *:after {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }

            body {
                background-color: #080710;
            }

            .background {
                width: 430px;
                height: 520px;
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
            }

            .background .shape {
                height: 200px;
                width: 200px;
                position: absolute;
                border-radius: 50%;
            }

            .shape:first-child {
                background: linear-gradient(#1845ad,
                        #23a2f6);
                left: -80px;
                top: -80px;
            }

            .shape:last-child {
                background: linear-gradient(to right,
                        #ff512f,
                        #f09819);
                right: -30px;
                bottom: -80px;
            }

            form {
                /* height: 520px; */
                width: 400px;
                background-color: rgba(255, 255, 255, 0.13);
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                border-radius: 10px;
                backdrop-filter: blur(10px);
                border: 2px solid rgba(255, 255, 255, 0.1);
                box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
                padding: 50px 35px;
            }

            form * {
                font-family: 'Poppins', sans-serif;
                color: #ffffff;
                letter-spacing: 0.5px;
                outline: none;
                border: none;
            }

            form h3 {
                font-size: 32px;
                font-weight: 500;
                line-height: 42px;
                text-align: center;
            }

            label {
                display: block;
                /* margin-top: 30px; */
                font-size: 16px;
                font-weight: 500;
            }

            input {
                display: block;
                height: 50px;
                width: 100%;
                background-color: rgba(255, 255, 255, 0.07);
                border-radius: 3px;
                padding: 0 10px;
                margin-top: 8px;
                font-size: 14px;
                font-weight: 300;
            }

            ::placeholder {
                color: #e5e5e5;
            }

            button {
                margin-top: 50px;
                width: 100%;
                background-color: #ffffff;
                color: #080710;
                padding: 15px 0;
                font-size: 18px;
                font-weight: 600;
                border-radius: 5px;
                cursor: pointer;
            }

            .msg {
                font-size: small;
                font-weight: 500;
                color: red;
                background-color: rgb(255, 238, 163);
                text-align: center;
                border-radius: 5px;
            }

            #error {
                color: red;
                font-weight: 500;
            }
        </style>
    </head>

    <body>
        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
        <form action="/send-otp" method="post">
            <h3>Login Here</h3>
            <p id="error">
                <%=err%>
            </p>
            <input type="hidden" value="Active" name="statuz">
            <p class="msg" id="message1"></p>
            <input type="text" placeholder="name" id="myInput1" name="name" onchange="validateUserName()">
            <p class="msg" id="message2"></p>
            <input type="email" placeholder="Email" id="myInput2" name="email" onchange="validateUserEmail()">
            <p class="msg" id="message3"></p>
            <input type="password" placeholder="Password" id="password" name="password" onchange="validatePassword();">
            <p class="msg" id="message"></p>
            <input type="password" placeholder="Confirm Password" id="confirmpass1" name="confirmpassword"
                onkeyup="checkPasswordMatch();">

            <button type="submit">Log In</button>
            <div class="signup-link">Already a member? <a href="/login">Login now</a></div>
        </form>


        <!-- <body style="background-image: radial-gradient(circle at center, rgb(255, 45, 203) 0, rgb(50, 50, 254), rgb(234, 0, 255) 100%);"> -->
        <!-- <div class="container">
        <div class="wrapper">
            <div class="title"><span>Login Form</span></div>
            <form action="/send-otp" method="post">
                <p id="error"><%=err%></p>
                <input type="hidden" value="Active" name="statuz">
                <p class="msg" id="message1"></p>
                <div class="row">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Username" name="name" id="myInput1" onchange="validateUserName()">
                </div>
                <p class="msg" id="message2"></p>
                <div class="row">
                    <i class="fa-solid fa-envelope" style="color: #ffffff;"></i>
                    <input type="email" placeholder="Email" name="email" id="myInput2" onchange="validateUserEmail()">
                </div>
                <p class="msg" id="message3"></p>
                <div class="row">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password" name="password" id="password"
                        onchange="validatePassword();">
                </div>
                <p class="msg" id="message"></p>
                <div class="row">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Confirm Password" name="confirmpassword" id="confirmpass1"
                        onkeyup="checkPasswordMatch();">
                </div>
                <div class="row button">
                    <input type="submit" value="Sign Up" class="btn solid" id="signupButton" disabled>
                </div>
                
                <div class="signup-link">Already a member? <a href="/login">Login now</a></div>
            </form>
        </div>
    </div>
</body>
     -->
        <%-include('../layout/user/partials/footer.ejs')-%>