<%-include('../layout/user/header.ejs')-%>

    <!-- <div class="row wishmain">
        <div class="wishtwo col-2">
            <div class="wishthree"></div>
            <div class="wishfour">
                <form action="/profile">
                    <button class="wishbutt0">Profile</button>
                </form>
                <form action="/orders">
                    <button class="wishbutt" style="background-color:#E0E9FF;">My Orders</button>
                </form>
                <form action="wishlist">
                    <button class="wishbutt">My Wishlist</button>
                </form>
                <form action="/cart">
                    <button class="wishbutt">My Cart</button>
                </form>
                <form action="/logout">
                    <button class="wishbutt" id="logbutt">Log Out</button>
                </form>
            </div>
        </div> -->
        <div class="col-12 d-flex justify-content-center align-items-center" style=" height: 100vh;background-color: blueviolet;">
           
            
        </div>
    </div>
    

    <%- include('../layout/user/footer.ejs') -%>