* {
  margin: 0;
  padding: 0;
}
.continer {
  background-color: #2d40eb;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}
#sqrdiv1 {
  height: 100vh;
}
#sqrdiv2 {
  border-radius: 15px;
  background-color: white;
}
.heads {
  margin-left: 12%;
  font-weight: 700;
}
.headz {
  margin-left: 12%;
  margin-top: 20px;
  border-radius: 4px;
  padding: 5px;
  border: 1px solid rgb(95, 95, 95);
  width: 80%;
}
#uslogbtn {
  font-weight: 700;
  width: 80px;
  height: 20px;
  color: white;
}
#btnuslog {
  background-color: #2d40eb;
  border-radius: 10px;
}
#havacc {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: x-small;
}
#otp {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

#eyeicon1 {
  width: 45px;
  height: 15px;
}

#eyeicon2 {
  width: 45px;
  height: 15px;
}

#eyeicon {
  width: 45px;
  height: 15px;
}

.navis {
  text-decoration: none;
  color: white;
  font-weight: 500;
  margin-right: 40px;
}
#divone {
  background-color: #0e0eff;
  height: 45px;
}
#divsub {
  background-color: #0e0eff;
}
#divtwo {
  background-color: #0e0eff;
  height: 45px;
}
#divthree {
  background-color: #0e0eff;
  height: 45px;
  padding-top: 20px;
}
#zeecart {
  text-decoration: none;
  background-color: red;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 700;
  width: 10px;
}
.zeecart {
  color: white;
  font-weight: 700;
}
.menu {
  background-color: #0e0eff;
}
.menu ul {
  display: flex;
}
.menu a {
  text-decoration: none;
  color: white;
}
.menu ul li {
  list-style: none;
  margin: 0 10px;
}
#ipt {
  width: 350px;
  height: 26px;
  outline: 0;
  border: 0;
}
.djrock {
  background-color: rgb(0, 250, 250);
}
#bodydemo {
  overflow-y: hidden;
}
.row .inpt {
  width: 280px;
  border-radius: 50px;
  height: 35px;
}

.sendotp {
  /* background-color: #757575; */
  font-weight: 700;
  width: 103px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  color: black;
}
.sendotp:hover {
  background-color: #2d40eb;
  color: white;
}

.row .inpt2 {
  width: 227px;
  border-radius: 5px;
  height: 35px;
  border: 0;
  outline: 0;
}

.eyediv1 {
  border: 1px solid grey;
  border-radius: 50px;
  width: 274px;
}
.eyediv2 {
  border: 1px solid grey;
  border-radius: 5px;
  width: 274px;
}

.row input {
  outline: 0;
  border: 1px solid grey;
}

.zeecartlogo {
  background-color: #757575;
}

.headdiv {
  height: 102.5vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2d40eb;
}

.row .subdiv {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(122, 122, 122);
  height: 500px;
  width: 350px;
  border-radius: 20px;
  padding: 50px;
}

.row .subdivlog {
  background-color: #fefefe;
  border: 2px solid rgb(56, 56, 56);
  height: 380px;
  width: 350px;
  border-radius: 20px;
  padding: 50px;
}

.row a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.main-navbar {
  border-bottom: 1px solid #ccc;
}

.main-navbar .top-navbar {
  background-color: #3c3c3c;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-navbar .top-navbar .brand-name {
  color: #fff;
}

.main-navbar .top-navbar .nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.main-navbar .top-navbar .dropdown-menu {
  padding: 0px 0px;
  border-radius: 0px;
}

.main-navbar .top-navbar .dropdown-menu .dropdown-item {
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}

.main-navbar .top-navbar .dropdown-menu .dropdown-item i {
  width: 20px;
  text-align: center;
  color: #2874f0;
  font-size: 14px;
}

.main-navbar .navbar {
  padding: 0px;
  background-color: #ddd;
}

.main-navbar .navbar .nav-item .nav-link {
  padding: 8px 20px;
  color: #000;
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .main-navbar .top-navbar .nav-link {
    font-size: 12px;
    padding: 8px 10px;
  }
  #titles {
    font-size: small;
  }
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: rgb(227, 227, 252);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sub {
  width: 80vw;
  height: 60vh;
  background-color: #a4f1ff;
}

.heading {
  margin-top: 18vh;
  color: red;
}

.input_12 {
  width: 250px;
  font-weight: 700;
  font-size: large;
  padding-left: 10px;
  margin-bottom: 10px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid lightgray;
}

.input_1 {
  width: 100px;
  font-weight: 700;
  font-size: large;
  padding-left: 10px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid lightgray;
}

#input_1 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.input_reset {
  /* margin-top: 10px; */
  margin-bottom: 20px;
  width: 200px;
  height: 30px;
}

.sub .btn {
  border-radius: 5px;
  padding: 3px 8px;
  background-color: blue;
  color: #fff;
  text-decoration: none;
}

.sub .btn:hover {
  color: #fff;
}

.checkbtn {
  width: 30px;
  height: 30px;
}

#rowz {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.row .colso {
  width: 500px;
  height: 50vh;
  background-color: blue;
  border-radius: 10px;
}

form .headinDiv1 {
  margin-top: 8vh;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
}

form .headinDiv2 {
  margin-top: 1vh;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
}

form .headinDiv3 {
  margin-top: 1vh;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
}

form .headinDiv3 .inputOne {
  width: 300px;
  height: 30px;
  font-weight: 700;
  border-radius: 5px;
  padding-left: 10px;
}

form .headinDiv3 .checkBtn {
  margin-top: 1vh;
  width: 80px;
  height: 30px;
  border-radius: 10px;
}

.msg {
  font-size: small;
  font-weight: 500;
  color: red;
  background-color: rgb(255, 245, 212);
}

.msg_span {
  width: 500px;
  display: flex;
  justify-content: center;
}

/* Reset some default browser styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Container for order history */
.orders-container {
  max-width: 1000px;
  margin: 20px auto;
  background-color: #fff0f0;
}

/* Order item styling */
.order-item {
  border: 1px solid #ffdfdf;
  padding: 10px;
  margin-bottom: 10px;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .orders-container {
    padding: 10px;
  }

  .order-item {
    padding: 5px;
  }
}

.productList {
  width: 199px;
  height: 35px;
  background-color: #d6d6d6;
  display: flex;
  align-items: start;
  padding-left: 10px;
  border: 1px solid rgb(181, 181, 181);
}

.productList1 {
  width: 199px;
  height: 35px;
  display: flex;
  align-items: start;
  padding-left: 10px;
}

.productListHead {
  width: 200px;
  height: 500px;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid rgb(181, 181, 181);
}

.orderHead {
  font-weight: 600;
  padding: 10px;
}

/* <-----------------------------------------admin side work--------------------------------------------> */

.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
  overflow-x: hidden;
  transition: 0.5s;
}
.btnz {
  border: 1px solid lightgray;
  height: 45px;
}
.zeediv {
  padding: 20px;
  background-color: #757575;
}
.a-tag {
  color: #313131;
  font-size: medium;
  text-decoration: none;
}

.sidenav .closebtn {
  /* position: absolute; */
  /* top: -10px; */
  height: 30px;
  text-decoration: none;
  color: black;
  /* right: 5px; */

  font-size: 20px;
  margin-left: 50px;
}
.openNav {
  position: sticky;
  top: 5px;
  left: 10px;
}
.userData {
  position: relative;
  top: 0;
  right: 200px;
}
.duplicate {
  width: 200px;
  height: 1000px;
  background-color: rgb(255, 255, 255);
  z-index: -1;
}

.usertable {
  border: 1px solid #cfcfcf;
  height: 60px;
  color: #333843;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.userlist {
  border: 0.5px solid #cfcfcf;
  height: 60px;
  color: #667085;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding-left: 30px;
  padding-top: 15px;
  font-weight: 400;
}
#Active {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  background-color: green;
  padding: 5px 20px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
}

#Blocked {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  background-color: red;
  padding: 5px 20px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
}

#blocked {
  background-color: red;
  padding: 5px 20px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
}

#edit {
  background-color: rgb(61, 61, 255);
  padding: 5px 20px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
}

.blockbtn:hover {
  color: #fff;
}
#Blockuser {
  text-align: center;
}
#error {
  color: red;
  font-size: large;
}

/*--------------------user profile-------------------------*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.profile-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.avatar img {
  max-width: 150px;
  border-radius: 50%;
}

.user-info {
  margin-top: 20px;
  text-align: center;
}

.orders {
  margin-top: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .profile-card {
    flex-direction: column;
  }

  .avatar img {
    max-width: 100px;
  }
}

/* -------------------------cart page-------------------------- */

.icon-hover-primary:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
}

.icon-hover-primary:hover i {
  color: #3b71ca !important;
}

.icon-hover-danger:hover {
  border-color: #dc4c64 !important;
  background-color: white !important;
}

.icon-hover-danger:hover i {
  color: #dc4c64 !important;
}

/* -------------------------------alert-------------------------------- */

.popup {
  width: 400px;
  background: #ababab;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup {
  visibility: visible;
  top: 35%;
  transform: translate(-50%) scale(1);
}

.popup h2 {
  font-size: 38px;
  font-weight: 700;
  margin: 30px 0 10px;
}

.popup .buttonClass #buttonz {
  width: 60px;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 5%;
}

.buttonClass {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------------admin orders---------------------------------- */
/* 
html {
  padding: 50px;
} */

/* SHOW SORTABLE ICON ON HOVER OF TH */
table.dataTable thead th.sorting:hover:after {
  opacity: 1;
  transform: translate(0);
}

/* OVERRIDES FOR SORT ICON FROM DATABLES */
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
  font-family: FontAwesome;
  position: relative !important;
  display: inline-block !important;
  font-size: 14px !important;
  top: unset !important;
  right: unset !important;
  content: "\f062" !important;
  transform-origin: center center;
  transition: 200ms ease-out;
  padding-top: 0 !important;
}

/* DEFAULT SORT ICON COLOR AND PLACEMENT */
table.dataTable thead th.sorting:after {
  transform: translateY(5px);
  opacity: 0;
  color: #b0bec5 !important;
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
  margin-left: 10px;
}

table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
  color: #4285f4;
}
