*{
    margin: 0;
    padding: 0;
}
.continer{
    /* background-image: url('https://images.unsplash.com/photo-1635776062043-223faf322554?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGdyYWRpZW50JTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60'); */
    background-color: #2D40EB;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}
#sqrdiv1{
    height: 100vh;
}
#sqrdiv2{
    border-radius: 15px;
    background-color: white;
}
.heads{
    margin-left: 12%;
    font-weight: 700;
}
.headz{
    margin-left: 12%;
    margin-top: 20px;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid rgb(95, 95, 95);
    width: 80%;
}
#uslogbtn{
    font-weight: 700;
    width: 80px;
    height: 20px;
    color: white;
}
#btnuslog{
    background-color: #2D40EB;
    border-radius: 10px;
}
#havacc{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: x-small;
}
#otp{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

#eyeicon1 {
    width: 45px;
    height: 15px;
}

#eyeicon2 {
    width: 45px;
    height: 15px;
}

#eyeicon {
    width: 45px;
    height: 15px;
}

.navis{ 
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin-right: 40px;
}
#divone{
    background-color: #0e0eff;
    height: 45px;
}
#divsub{
    background-color: #0e0eff;
}
#divtwo{
    background-color: #0e0eff;
    height: 45px;
}
#divthree{
    background-color: #0e0eff;
    height: 45px;
    padding-top: 20px;
}
#zeecart{
    text-decoration: none;
    background-color: red;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 700;
    width: 10px;
}
.zeecart{
    color: white;
    font-weight: 700;
}
.menu{
    background-color: #0e0eff;
}
.menu ul{
    display: flex;
}
.menu a{
    text-decoration: none;
    color: white;
}
.menu ul li{
    list-style: none;
    margin: 0 10px;
}
#ipt{
    width: 350px;
    height: 26px;
    outline: 0;
    border: 0;
}
.djrock{
    background-color: rgb(0, 250, 250);
}
#bodydemo{
    overflow-y: hidden;
}
.row .inpt{
    width: 280px;
    border-radius: 50px;
    height: 35px;
}

.sendotp {
    /* background-color: #757575; */
    font-weight: 700;
    width: 103px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    color: black;
}
.sendotp:hover {
    background-color: #2D40EB;
    color: white ;
}

.row .inpt2 {
    width: 227px;
    border-radius: 5px;
    height: 35px;
    border: 0;
    outline: 0;
}

.eyediv1 {
    border: 1px solid grey;
    border-radius: 50px;
    width: 274px;
}
.eyediv2 {
    border: 1px solid grey;
    border-radius: 5px;
    width: 274px;
}

.row input {
    outline: 0;
    border: 1px solid grey;
}

.zeecartlogo {
    background-color: #757575;
}

.headdiv{
    /* background-image: url('https://images.unsplash.com/photo-1635776062043-223faf322554?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGdyYWRpZW50JTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60'); */
    height: 102.5vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2D40EB;
}

.row .subdiv{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(122, 122, 122);
    height: 500px;
    width: 350px;
    border-radius: 20px;
    padding: 50px;
}

.row .subdivlog{
    background-color: #fefefe;
    border: 2px solid rgb(56, 56, 56);
    height: 380px;
    width: 350px;
    border-radius: 20px;
    padding: 50px;
}

.row a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

/* admin side work */

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F2F2F2;
    overflow-x: hidden;
    transition: 0.5s;
  }
  .btnz{
    border: 1px solid lightgray;
    height: 45px;
  }
  .zeediv{
    padding: 20px;
    background-color: #757575;
  
  }
  .a-tag{
    color: #313131;
    font-size: medium;
    text-decoration: none;
  }
  
  .sidenav .closebtn {
  /* position: absolute; */
  /* top: -10px; */
  height: 30px;
  text-decoration: none;
  color: black;
  /* right: 5px; */

  font-size: 20px;
  margin-left: 50px;
}
.openNav{
    position: sticky;
    top: 5px;
    left: 10px;
}
.userData{
    position:relative;
    top: 0;
    right: 200px;
}
.duplicate{
    width: 200px;
    height: 1000px;
    background-color: rgb(255, 255, 255);
    z-index: -1;
}
.table {
    background-color: rgb(56, 56, 56);
} 
.table tr{
    color: white;
}
.table .thed {
    background-color: black;
    border: 4px solid rgb(255, 255, 255);
}
table tbody td {
    border: 1px solid white;
}
table .thead {
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
}



